$break-small: 568px;
$break-medium: 868px;
$break-large: 1200px;

body {
  align-content: center;
  box-sizing: border-box;
  display: grid;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  hyphens: auto;
  text-align: center;
  width: 98vw;
  margin: 0 auto;

  // custom styles
  .usersList {
    grid-template-columns: repeat(3, auto);
    column-gap: 2vw;
    row-gap: 2vh;

    @media screen and (max-width: $break-medium) {
      grid-template-columns: repeat(2, auto);
    }

    @media screen and (max-width: $break-small) {
      grid-template-columns: auto;
    }
  }

  .inputsContainer {
    flex-direction: column;
    display: flex;
    width: 30vw;
    justify-content: space-around;
    @media screen and (max-width: $break-small) {
      width: 90vw;
    }
  }
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
